---
version: 2.1
orbs:
  samvera: samvera/circleci-orb@0
jobs:
  bundle_lint_test:
    parameters:
      ruby_version:
        type: string
      bundler_version:
        type: string
        default: 1.17.3
      rails_version:
        type: string
      solr_config_path:
        type: string
        default: '.internal_test_app/solr/conf'
    executor:
      name: 'samvera/ruby_fcrepo_solr'
      ruby_version: << parameters.ruby_version >>
    environment:
      ENGINE_CART_RAILS_OPTIONS: --skip-git --skip-bundle --skip-listen --skip-spring --skip-yarn --skip-keeps --skip-coffee --skip-puma --skip-test
      RAILS_VERSION: << parameters.rails_version >>
      NOKOGIRI_USE_SYSTEM_LIBRARIES: true
      CC_TEST_REPORTER_ID: e52010675d2774ee408c14c0de08c143d0749e59beb6dd729254d1b3ea94c7b1
    steps:
      - samvera/cached_checkout
      - run:
         name: Check for a branch named 'master'
         command: |
           git fetch --all --quiet --prune --prune-tags
           if [[ -n "$(git branch --all --list master */master)" ]]; then
             echo "A branch named 'master' was found. Please remove it."
             echo "$(git branch --all --list master */master)"
           fi
           [[ -z "$(git branch --all --list master */master)" ]]
      - samvera/bundle_for_gem:
          ruby_version: << parameters.ruby_version >>
          bundler_version: << parameters.bundler_version >>
          cache_version: '2'
          project: hydra-editor
      - samvera/engine_cart_generate:
          cache_key: v2-internal-test-app-{{ checksum "hydra-editor.gemspec" }}-{{ checksum "Gemfile" }}-{{ checksum "spec/test_app_templates/lib/generators/test_app_generator.rb" }}-<< parameters.rails_version >>-<< parameters.ruby_version >>
      - samvera/install_solr_core:
          solr_config_path: << parameters.solr_config_path >>
      - samvera/bundle_for_gem:
          ruby_version: << parameters.ruby_version >>
          bundler_version: << parameters.bundler_version >>
          cache_version: '2'
          project: hydra-editor
      - samvera/rubocop
      - samvera/parallel_rspec

workflows:
  version: 2
  ci:
    jobs:
      - bundle_lint_test:
          name: bundle_ruby2-7_rails5-2
          ruby_version: 2.7.1
          rails_version: 5.2.3
      - bundle_lint_test:
          name: bundle_ruby2-6_rails5-2
          ruby_version: 2.6.3
          rails_version: 5.2.3
      - bundle_lint_test:
          name: bundle_ruby2-6_rails5-1
          ruby_version: 2.6.3
          rails_version: 5.1.7
      - bundle_lint_test:
          name: bundle_ruby2-5_rails5-2
          ruby_version: 2.5.5
          rails_version: 5.2.3
      - bundle_lint_test:
          name: bundle_ruby2-5_rails5-1
          ruby_version: 2.5.5
          rails_version: 5.1.7
      - bundle_lint_test:
          name: bundle_ruby2-4_rails5-2
          ruby_version: 2.4.6
          rails_version: 5.2.3
      - bundle_lint_test:
          name: bundle_ruby2-4_rails5-1
          ruby_version: 2.4.6
          rails_version: 5.1.7
