<h1>Create a new record</h1>

<%= bootstrap_form_tag new_record_path, :method=>:get do |f| %>
  <%= bootstrap_select_tag :type, options_for_select({'Audio' => 'TuftsAudio', 'PDF' => 'TuftsPdf'} ) %>
  <%= bootstrap_actions do %>
    <%= bootstrap_submit_tag %>
  <% end %>
<% end %>
